@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* color: white; */
}

#main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url('Images/img1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
}
#main .image-overlay{
    width: 100%;
    background-color: rgba(5, 5, 5, 0.3);
    object-fit: cover;
    
}

.wrap-sections{
    padding: 2% 9%;
}


#nav-section .logo-name{
    color: #ffd92e;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
}

#nav-section li a{
    color: white;
    
}

.nav-item {
    margin: 20px;
    font-size: 20px;
}
#nav-section li .active{
    color: #ffd92e;
}
#nav-section li a:hover{
    
    color: #ffd92e;
    cursor: pointer;
}

#introduction{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
}

#introduction .content h1,p{
    text-align: left;
}

#introduction .content h1{
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 1.2;
}

.content span{
    color: #ffd92e;
    font-weight: 800;
}


#introduction .content .sub-content{
    margin-top: 3%;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 1.8;
}

.upload{
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
    width: 70%;
}

.upload-btn{
    border-radius: 10px;


}

.upload .upload-btn:hover{
    background-color: rgb(255, 255, 255,0.3);
    color: #ffd92e;
}

#footer .contact{
    margin: 1% 9%;
    background-color: rgb(255, 255, 255,0.2);
    padding: 2.5% 0;
}

#footer .contact i{
    color: #ffd92e;
    padding-right: 50px;
}

#footer .contact i:hover{
    color: white;
    cursor: pointer;
}


/* .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Images/programming-1873854.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.main .image-overlay{
    width: 100%;
    background-color: rgb(0, 0, 0,0.3);
    object-fit: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ffd92e;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ffd92e;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffd92e;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ffd92e;
    border: 2px solid #ffd92e;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ffd92e;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ffd92e;
    font-size: 65px
} */

